.home {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}
  
/*------------------------------
  Section
  ------------------------------
  */
.hero-section {
    background: url('../../data/cover-image.jpg') no-repeat center center/cover;
    height: 60vh;
    color: white;
    text-align: center;
}

.hero-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
}
  
.hero-section .hero-content h1 {
    font-size: 3rem;
    margin: 0;
}
  
.hero-section .hero-content p {
    font-size: 1.2rem;
    margin: 10px 0;
}
  
.hero-section .hero-content button {
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}


/*------------------------------
  Sezione Frasi di Benveunto
  ------------------------------
  */
.welcomes-section h2{
    font-size: 2rem;
    margin: 1em 0;
    text-align: center;
}

.welcomes-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.welcome-item{
    font-size: 1.2rem;
    margin-bottom: 1em;
}


/*------------------------------
  Sezione Eventi
  ------------------------------
  */
.events-section {
    background-color: #E4E0E1;
    padding: 40px 20px;
    text-align: center;
}
  
.events-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
  
.event-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
  
.event-card:hover {
    transform: translateY(-10px);
}
  
.event-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
  
.event-card-low{
    display: flex;
    justify-content: space-between;
    color: #555;
    margin-top: 30px;
    font-size: 0.8em;
}

.event-card.new-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    border-radius: 10px;
    padding: 2rem;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.modal-first-container{
    display: flex;
    justify-content: space-between;
}

.modal-btn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5em 1em;
}

.events-edit-btn{
    background-color: #FAB12F;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 32px;
    margin-top: 30px;
    width: 120px;
}


/*------------------------------
  Sezione Cards (Altre pagine)
  ------------------------------
  */
.cards-section {
    padding: 40px 20px;
    text-align: center;
}
  
.cards-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
  
.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.card:hover {
    transform: translateY(-10px);
}
  
.card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    cursor: pointer;
}
  
.card p {
    font-size: 1rem;
    color: #555;
    cursor: pointer;
}
  